  /* 标题换个颜色更加醒目 */

  .post-content h2,.post-content h3,.post-content h4,.post-content h5,.post-content h6 {
    color: #ba3925;
    font-weight: 600!important;
  }

.post .post-content h1 {
    border-bottom: 1px solid #ddd;
    margin-top: 2em;
    font-size: 2em;
}

.post .post-content h2 {
  border-bottom: 1px solid #ddd;
  margin-top: 1.5em;
  font-size: 1.5em;
}
.post .post-content h3 {
  margin-top: 1.5em;
  font-size: 1.3em;
}

.post .post-content h4 {
  margin-top: 1.3em;
  font-size: 1.1em;
}

.post .post-content h5,.post .post-content h6 {
  font-size: 1em;
}
.post .post-content .read-more {
    text-align: right;
}

.post .post-content code {
  font-size: 14px;
  background-color: #f8f8f8;
}


.post .post-content pre{
  /* background-color:unset; */
  background-color: #f8f8f8;
} 

#post-toc {
  width: 360px !important;
}

html{
  font-size: 16px;
}

body{
  line-height: 1.8;
  border-top:unset;
}

.header .site-navbar .menu .menu-item+.menu-item {
  margin-left: 18px;
}
@media(min-width:1185px){


.post{
  padding: 3em 5em;
  margin: 0 4em 3em ;
  background-color: #fff;

}
#header{
  margin: 0 8em;
  padding: 0em 1em 0em;
}
#content{
  margin:0 auto;
  width:1080px;
}

#mobile-panel {
  width: auto
}
.content-wrapper {
  padding: 3em 0 1px;
}
.main {
  background-color: #f2f2f5;
} 

 .post .post-header {
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px LightGrey solid;
}
.archive {
  margin: 0 5em 3em;
  background-color: #fff;
  padding: 1em 5em 5em;
  max-width:unset;
}

.post .post-header {
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px LightGrey solid;
}


.post .post-copyright {
  padding: 10px;
  background-color: #b5b5b51a;
  border: 1px solid #e1e1e1;
  border-left: solid;
  margin-top: 3em;
}

.post .post-copyright .copyright-item .item-title {
  display: inline-block;
  min-width: 5rem;
  margin-right: .5rem;
  text-align: right;
  font-weight: 700;
}

#post-toc {
  margin-left: 50% !important;
}


.terms-tags {
  font-size: larger;
  font-weight: 500;
}

  }

@media(min-width:1300px) and (max-width:1600px){
  #post-toc {
    margin-left: 60% !important;
  }
}
@media(min-width:1180px) and (max-width:1300px){
  #post-toc {
    margin-left: 65% !important;
  }
}