
.refreshIcon {
    background-image: url(/share/img/icons/refresh.png) !important;
}
.refreshIcon2 {
    background-image: url(/share/images/icon/refresh.png) !important;
}
.deleteIcon {
    background-image: url(../images/icon/delete-2.gif) !important;
}
.deleteIcon2 {
    background-image: url(../images/icon/delete.gif) !important;
}
.addIcon {
    background-image: url(../images/icon/add.png) !important;
}
.addIcon2 {
    background-image: url(/share/images/icon/plugin_add.gif) !important;
}
.groupIcon {
    background-image: url(../img/icons/group.png) !important;
}
.acceptIcon {
    background-image: url(../images/icon/accept.png) !important;
}
.errorIcon {
    background-image: url(../images/icon/error.png) !important;
}
.runIcon {
    background-image: url(../images/icon/run.png) !important;
}
.startIcon {
    background-image: url(../images/icon/start.png) !important;
}
.upIcon {
    background-image: url(/share/images/icon/arrow-up.gif) !important;
}
.downIcon {
    background-image: url(/share/images/icon/arrow-down.gif) !important;
}
.tableIcon {
    background-image: url(../img/icons/table.png) !important;
}
.mysql_icon {
    background-image: url(../img/icons/mysql/mysql.png) !important;
}
.mysql_databaseIcon {
    background-image: url(../img/icons/mysql/database.png) !important;
}
.mysql_tableIcon {
    background-image: url(../img/icons/mysql/table.jpg) !important;
}
.mysql_columnIcon {
    background-image: url(../img/icons/mysql/column.png) !important;
}
.mysql_indexIcon {
    background-image: url(../img/icons/mysql/idx.png) !important;
}
.mysql_pkeyIcon {
    background-image: url(../img/icons/mysql/pkey.png) !important;
}
.viewIcon {
    background-image: url(../img/icons/mysql/view.png) !important;
}
.mysql_viewIcon {
    background-image: url(../img/icons/mysql/view.png) !important;
}
.mysql_triIcon {
    background-image: url(../img/icons/mysql/trigger.jpg) !important;
}
.mysql_funIcon {
    background-image: url(../img/icons/mysql/function.jpg) !important;
}
.mysql_eventIcon {
    background-image: url(../img/icons/mysql/plan.png) !important;
}
.mysql_prodIcon {
    background-image: url(../img/icons/mysql/procedure.jpg) !important;
}
.triggerIcon {
    background-image: url(../img/icons/trigger.png) !important;
}
.functionIcon {
    background-image: url(../img/icons/function.png) !important;
}
.eventIcon {
    background-image: url(../img/icons/events.png) !important;
}
.procedureIcon {
    background-image: url(../img/icons/store.png) !important;
}
.type_icon {
    background-image: url(../img/icons/type.jpg) !important;
}
.synonym_icon {
    background-image: url(../img/icons/synonym.jpg) !important;
}
.sqlserver_icon {
    background-image: url(../img/icons/sqlserver.png) !important;
}
.sqlserver_userLoginIcon {
    background-image: url(../img/icons/user_login.png) !important;
}
.sqlserver_userRoleIcon {
    background-image: url(../img/icons/user_role.png) !important;
}
.sqlserver_dbUserIcon {
    background-image: url(../img/icons/db_user.png) !important;
}
.sqlserver_schema {
    background-image: url(../img/icons/sqlserver_schema.jpg) !important;
}
.sqlserver_instanceIcon {
    background-image: url(../img/icons/instance.png) !important;
}
.sqlserver_groupIcon {
    background-image: url(../img/icons/sqlserver_group.png) !important;
}
.sqlserver_dbIcon {
    background-image: url(../img/icons/sqlserver_db.png) !important;
}
.sqlserver_tableIcon {
    background-image: url(../img/icons/sqlserver_table.png) !important;
}
.sqlserver_procedureIcon {
    background-image: url(../img/icons/sqlserver_procedure.png) !important;
}
.sqlserver_viewIcon {
    background-image: url(../img/icons/sqlserver_view.png) !important;
}
.sqlserver_functionIcon {
    background-image: url(../img/icons/sqlserver_function.png) !important;
}
.sqlserver_trigerIcon {
    background-image: url(../img/icons/sqlserver_trigger.png) !important;
}
.sqlserver_trigerdisableIcon {
    background-image: url(../img/icons/sqlserver_trigger_disable.png) !important;
}
.sqlserver_table_checkIcon {
    background-image: url(../img/icons/sqlserver_table_check.png) !important;
}
.sqlserver_proc_inputIcon {
    background-image: url(../img/icons/sqlserver_param_input.png) !important;
}
.sqlserver_proc_outputIcon {
    background-image: url(../img/icons/sqlserver_param_output.png) !important;
}
.sqlserver_proc_returnIcon {
    background-image: url(../img/icons/sqlserver_param_return.png) !important;
}
.sqlserver_table_column_rootIcon {
    background-image: url(../img/icons/sqlserver_table_column_root.png) !important;
}
.sqlserver_table_columnIcon {
    background-image: url(../img/icons/sqlserver_table_column.png) !important;
}
.sqlserver_pkeyIcon {
    background-image: url(../img/icons/sqlserver_pkey.png) !important;
}
.sqlserver_table_index_rootIcon {
    background-image: url(../img/icons/sqlserver_table_index_root.png) !important;
}.sqlserver_table_indexIcon {
    background-image: url(../img/icons/sqlserver_table_index.png) !important;
}
.ads_groupIcon {
    background-image: url(../img/icons/ads_group.png) !important;
}
.ads_tableIcon {
    background-image: url(../img/icons/sqlserver_table.png) !important;
}
.ads_dbIcon {
    background-image: url(../img/icons/ads_db.png) !important;
}
.ads_table_group_rootIcon {
    background-image: url(../img/icons/ads_table_group_root.png) !important;
}
.ads_user_rootIcon {
    background-image: url(../img/icons/ads_user_root.png) !important;
}
.ads_userIcon {
    background-image: url(../img/icons/ads_user.png) !important;
}

.pg_instanceIcon {
    background-image: url(../img/icons/pg_instance.png) !important;
}
.pg_icon {
    background-image: url(../img/icons/pg.png) !important;
}
.pg_db_rootIcon {
    background-image: url(../img/icons/pg_db_root.png) !important;
}
.pg_dbIcon {
    background-image: url(../img/icons/pg_db.png) !important;
}
.pg_tablespace_rootIcon {
    background-image: url(../img/icons/pg_tablespace_root.png) !important;
}
.pg_tablespaceIcon {
    background-image: url(../img/icons/pg_tablespace.png) !important;
}
.pg_user_rootIcon {
    background-image: url(../img/icons/pg_user_root.png) !important;
}
.pg_userIcon {
    background-image: url(../img/icons/pg_user.png) !important;
}
.pg_common_schemaIcon {
    background-image: url(../img/icons/pg_common_schema.png) !important;
}
.pg_user_schemaIcon {
    background-image: url(../img/icons/pg_user_schema.png) !important;
}
.pg_table_rootIcon {
    background-image: url(../img/icons/pg_table_root.png) !important;
}
.pg_tableIcon {
    background-image: url(../img/icons/pg_table.png) !important;
}
.pg_table_column_rootIcon {
    background-image: url(../img/icons/pg_table_column_root.png) !important;
}
.pg_table_columnIcon {
    background-image: url(../img/icons/pg_table_column.png) !important;
}
.pg_table_index_rootIcon {
    background-image: url(../img/icons/pg_table_index_root.png) !important;
}
.pg_table_indexIcon {
    background-image: url(../img/icons/pg_table_index.png) !important;
}
.pg_domain_rootIcon {
    background-image: url(../img/icons/pg_domain_root.png) !important;
}
.pg_domainIcon {
    background-image: url(../img/icons/pg_domain.png) !important;
}
.pg_view_rootIcon {
    background-image: url(../img/icons/pg_view_root.png) !important;
}
.pg_viewIcon {
    background-image: url(../img/icons/pg_view.png) !important;
}
.pg_view_column_rootIcon {
    background-image: url(../img/icons/pg_table_column_root.png) !important;
}
.pg_functionIcon {
    background-image: url(../img/icons/pg_function.png) !important;
}
.pg_function_rootIcon {
    background-image: url(../img/icons/pg_function_root.png) !important;
}
.pg_view_columnIcon {
    background-image: url(../img/icons/pg_table_column.png) !important;
}
.pg_sequence_rootIcon {
    background-image: url(../img/icons/pg_sequence_root.png) !important;
}
.pg_sequenceIcon {
    background-image: url(../img/icons/pg_sequence.png) !important;
}
.pg_table_constraint_rootIcon {
    background-image: url(../img/icons/pg_table_constraint_root.png) !important;
}
.pg_table_constraintIcon {
    background-image: url(../img/icons/pg_table_constraint.png) !important;
}


.gp-part-type-range {
    background-image: url(../img/icons/pg_function_root.png) !important;
}

.gp-part-type-list {
    background-image: url(../img/icons/petadata.png) !important;
}

.drds_dbIcon {
    background-image: url(../img/icons/drds/db.png) !important;
}
.drds_tableIcon {
    background-image: url(../img/icons/drds/table.png) !important;
}
.drds_tab_column_groupIcon {
    background-image: url(../img/icons/drds/tab_colum_group.png) !important;
}
.drds_tab_columnIcon {
    background-image: url(../img/icons/drds/column.png) !important;
}
.drds_tab_idx_groupIcon {
    background-image: url(../img/icons/drds/tab_idx_group.png) !important;
}
.drds_tab_idxIcon {
    background-image: url(../img/icons/drds/idx.png) !important;
}
.drds_tab_pkIcon {
    background-image: url(../img/icons/drds/pkey.png) !important;
}
.redis_icon {
    background-image: url(../img/icons/redis.png) !important;
}
.page_next {
    background-image: url(../img/icons/page/page-next.gif) !important;
}
.page_prev {
    background-image: url(../img/icons/page/page-prev.gif) !important;
}
.page_first {
    background-image: url(../img/icons/page/page-first.gif) !important;
}
.page_last {
    background-image: url(../img/icons/page/page-last.gif) !important;
}


.x-tab-bar-default{ background-color:#e9e9e9;}
.x-tab-default-top, .x-tab-default-left, .x-tab-default-right{ background-color:#00a2ca; color:#fff;}
.x-panel-header-default{ background-color:#00a2ca;}
.x-tab-default-active{background-color:#9cf;}


.x-tab-default-active .x-tab-inner{ color:#fff; }

.x-panel-default{background-color:#fff; }
.x-panel-body-default{border-color:#00a2ca }
.x-border-layout-ct {background-color: #00a2ca;}
.x-panel-body-default-framed{ border-color:#fff; padding-left:2px;}
.x-panel-default-framed{ border:none; border-radius:0px;}
.x-fieldset{margin:0 0 10px 10px}



