
body {
    /*font: 12px/1.5 "\5B8B\4F53", sans-serif;*/
    color: #000;
    background: #FFF
}

.fl {
    float: left;
}

.fr {
    float: right
}

.clear {
    clear: both;
    zoom: 1;
}

.clear:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

li {
    list-style: none
}

a {
    text-decoration: none;
}

input {
    border: none;
    font-size: 12px;
}

/*public*/

/*login*/
.login_body {
    background-color: #0086cd;
    height: 100%;
}

.login_box {
    background-color: #0086cd;
    position: relative;
}

.login_box_bg {
    background: url(../images/login.png) no-repeat;
    width: 712px;
    height: 520px;
    position: absolute;
}

.login_hd {
    margin-top: 220px;
    margin-left: 200px;
}

.login_hd li {
    height: 34px;
    color: #333;
}

.login_hd li span {
    display: inline-block;
    width: 55px;
    text-align: right;
}

.login_hd_vcode {
    margin-top: 210px;
    margin-left: 200px;
}

.login_hd_vcode li {
    height: 31px;
    color: #333;
}

.login_hd_vcode li span {
    display: inline-block;
    width: 55px;
    text-align: right;
}

.input_txt {
    border: 1px solid #999;
    background-color: #fff;
    height: 14px;
    padding: 4px;
    width: 280px;
}

#verifycodeinput {
    border: 1px solid #999;
    background-color: #fff;
    height: 14px;
    padding: 4px;
    width: 100px;
}

.input_select {
    width: 280px;
}

.login_ft {
    height: 40px;
    padding-left: 286px;
    padding-top: 10px;
}

.login_ft_vcode {
    height: 40px;
    padding-left: 286px;
    padding-top: 5px;
}

.login_ft .login_btn {
    background: url(../images/login_btn.png);
    display: inline-block;
    width: 76px;
    height: 31px;
}

.login_ft_vcode .login_btn {
    background: url(../images/login_btn.png);
    display: inline-block;
    width: 76px;
    height: 31px;
}

.login_ft .aboutbtn {
    float: right;
    color: white;
    margin: 0 110px;
    height: 31px;
    font-size: medium;
    text-decoration: underline;
    padding: 2px 0;
}

.login_ft_vcode .aboutbtn {
    float: right;
    color: white;
    margin: 0 110px;
    height: 31px;
    font-size: medium;
    text-decoration: underline;
    padding: 2px 0;
}